@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}

/* font-family: "Poppins", sans-serif; */
/* font-family: "Playfair Display", serif; */


/* navbar css */
.navbar{
  font-family:"Poppins", sans-serif;;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 1px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 3px;
}

/* ======================== */
/* footer */
/* ====================== */

.footer{
  color: white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(to right, #434343, #000000);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* ==================================== */
/* ===========Register================= */
.register, .login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

/* ============Projects=============== */
.projects, .Detail {
  height: 700px;
  overflow-y: auto; /* Vertical scroll enabled */
  border-radius: 8px;
  margin-left: 50px; /* 50px spacing on the left */
  margin-right: 50px; /* 50px spacing on the right */
}

.project-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Space between cards */
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup_h, .popup_form{
  background-color: #f1f1f1;
}

/* ====================Detail page=============== */
.add_button{
  margin-left: 80px;
}

.title_edit{
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.login, .register {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}